В идеале так: там же вопросы по темам разбиты. Я могу начать тестирование, бот будет последовательно задавать вопросы,
я присылаю ответы. Перемешивать лучше внутри 1 темы. В конце каждой темы выводит список неправильных ответов.
